{% extends "partials/template.twig" %}

{% block content %}

<section class="py-1 text-center container">
	<div class="row py-lg-2">
		<div class="col-lg-6 col-md-8 mx-auto">
			<h1 class="fw-bold">Catálogo</h1>
		</div>
	</div>
	<hr>
</section>

<div class="album py-5 bg">
	<div class="container">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			{% for produto in produtos %}

			<div class="col">
				<div class="card shadow-sm">
					<img class="bd-placeholder-img card-img-top img-fluid" src="/resources/imgBD/{{produto.imagem}}"
						role="img" aria-label="Placeholder: Thumbnail" focusable="false">
					</img>
					<div class="card-body">
						<h3 class="card-title">{{ produto.nome }}</h3>
						<p class="card-text">{{ produto.banda }}</p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<button type="button" class="btn btn-sm btn-outline-secondary"
									onclick="add_to_basket({{produto.id}})">
									<i class="bi bi-bag-plus"></i> adicionar ao
									carrinho</button>
							</div>
							<small class="text-success fw-bold">R$ {{ produto.valor }}</small>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block add_script%}
<script>
	function add_to_basket(i) {
		var cartStr = sessionStorage.getItem("cart");
		var cartObj = [i];
		if (cartStr) {
			cartObj = JSON.parse(cartStr);
			cartObj.push(i);
		}

		sessionStorage.setItem("cart", JSON.stringify(cartObj));
	}
</script>
{% endblock %}
